@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

@import "./colors";
$theme-colors: (
  "primary": $indigo-500,
  "danger": $red-600,
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index";

body {
  background-color: $gray-100;
}

.alert-icon {
  margin-right: 5px;
}

.title-bar {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
  

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    align-items: center;
  
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.title {
  font-weight: 700;
  letter-spacing: -0.025em;
  color: $gray-800;
  font-size: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }
}

.title-action {
  margin-top: 0.5rem;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    margin-left: auto;
  }
}

.page-container {
  max-width: 1340px;
  margin: 0 auto;
}

// Form Input Styling
.form-group {
  margin-bottom: 20px;
}

.form-group > label, legend  {
  color: $gray-600;
  letter-spacing: -0.025em;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

// Form Styling
.form {
  padding: 0;
  
  @include media-breakpoint-up(lg) {
    padding: 0 0.5rem;
  }
}

.form-section {
  display: flex;
  flex-basis: 100%;

  flex-direction: column;
  
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}


.form-section > .form-description {
  @include media-breakpoint-up(lg) { 
    padding: 1rem 1rem 1rem 0; 
  }
}

.form-section > .form-container {
  @include media-breakpoint-up(lg) { 
    padding: 1rem 0 1rem 1rem;
  }
}


.form-section:not(:first-child) {
  padding: 1rem 0;
  border-top: 1px solid $gray-400;
}

.form-description {
  flex: 1;
}

.form-section-description {
  font-size: 0.9rem;
  color: $gray-700;
}

.form-container {
  flex: 2;
}

.responsive-btn {
  width:100%;

  @include media-breakpoint-up(lg) { 
    width: auto;
  }
}

// User Guide section styling
.guide-header {
  display: flex;
  align-items: center;
}

.collapsible-icon {
  margin-left: auto;
}

.accordion > .card > .card-header {
  cursor: pointer;
}

// List Card styling
@supports (display: grid) {
  .list-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
    }
  }
}

.list-card {
  cursor: pointer;
  height: 175px;

  @include media-breakpoint-up(lg) {
    height: 200px;
  }
}

.list-card:hover {
  background-color: $indigo-100;
}

.list-card > .card-body {
  display: flex;
  flex-direction: column;
}

.list-description {
  font-size: 0.95rem;
  letter-spacing: -0.025em;
  color: $gray-600;

  // clamp to 3 lines (restricted to webkit browsers)
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.privacy-status {
  margin-top: auto;
  font-size: 0.95rem;
  color: $indigo-600;
  align-self: flex-end;
}

.list-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}