@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

@import "./colors";
$theme-colors: (
  "primary": $indigo-500,
  "danger": $red-600,
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index";

body {
  background-color: $gray-100;
}

.title-bar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.title {
  font-weight: 700;
  letter-spacing: -0.025em;
  color: $gray-800;
}


// User Guide section styling
.guide-header {
  display: flex;
  align-items: center;
}

.collapsible-icon {
  margin-left: auto;
}

.accordion > .card > .card-header {
  cursor: pointer;
}